<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../ev-styles/typography.html">
<link rel="import" href="../ev-styles/colour.html">
<link rel="import" href="../iron-form-element-behavior/iron-form-element-behavior.html">
<link rel="import" href="../iron-input/iron-input.html">

<dom-module id="ev-input-field">
  <template>
    <style include="ev-styles">
      :host([disabled]) {
        pointer-events: none;
        opacity: 0.6;
      }

      :host([disabled]) .unfocused-line {
        border-bottom: 1px dashed;
        opacity: 0.6;
      }

      :host([disabled]) label {
        color: var(--ev-input-disable-color, black);
        opacity: 0.6;
      }

      :host {
        display: block;
        padding: 8px 0;
        box-sizing: border-box;
      }

      :host(:hover) .underline {
        background-color: var(--ev-input-hover-underline-color,rgba(94, 139, 245, 0.5));
      }

      input, label, .prefix, .suffix
       {
        @apply --ev-font-common-base;
      }

      iron-input>input {
        opacity: 0;
        background-color: transparent;
        outline: 0;
        border: 0px;
        @apply --ev-font-common-base;
        cursor: pointer;
        transition: opacity 200ms ease;
        -webkit-transition: opacity 200ms ease;
        color: var(--ev-input-text-color, #333333);
        caret-color: var(--ev-input-caret-color, var(--ev-cornflower-500));
      }

      iron-input, input {
        width: 100%;
        height: 100%;
        font-size: 16px;
        padding: 0;
        line-height: var(--ev-input-container-height, 40px);
      }

      iron-input>input.input-is-focused {
        opacity: 1;
        cursor: text;
      }


      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
      }

      input[type=number] {
        -moz-appearance: textfield;
      }

      .floating-label-placeholder {
        @apply --ev-font-common-base;
      }

      .input-help-text {
        position: relative;
        bottom: -5px;
        font-size: 13px;
        opacity: 0;
        color: var(--ev-input-help-text-color, var(--ev-cornflower-500));
        width: 100%;
        transition: opacity 200ms ease;
        padding-left: 8px;
      }

      .prefix ::slotted(*), .suffix ::slotted(*) {
        display: inline-block;
        height: var(--ev-input-container-height, 40px);
        width: auto;
        font-size: 16px;
        line-height: var(--ev-input-container-height, 40px);
        color: var(--ev-input-prefix-suffix-color);
      }

      span.prefix ::slotted(:not(:empty)) {
        margin-left: 7px;
      }

      span.suffix ::slotted(:not(:empty)) {
        margin-right: 10px;
      }

      .input-wrapper {
        display: flex;
        flex-direction: row;
        -webkit-display: flex;
        -webkit-flex-direction: row;
        align-items: center;
        position: relative;
        height: var(--ev-input-container-height, 40px);
        border-left: 1px solid var(--ev-input-border-outline-color, rgba(0, 0, 0, 0%));
        border-right: 1px solid var(--ev-input-border-outline-color, rgba(0, 0, 0, 0%));
        border-top: 1px solid var(--ev-input-border-outline-color, rgba(0, 0, 0, 0%));
        box-shadow: 0px 0px 1px var(--ev-input-border-outline-color, rgba(0, 0, 0, 0%));
        -moz-box-shadow: 0px 0px 1px var(--ev-input-border-shadow, rgba(0, 0, 0, 0%));
        -webkit-box-shadow: 0px 0px 1px var(--ev-input-border-shadow, rgba(0, 0, 0, 0%));
        transition: background-color 200ms ease, border-left 200ms ease, border-right 200ms ease, border-top 200ms ease, box-shadow 200ms ease;
        -webkit-transition: background-color 200ms ease, border-left 200ms ease, border-right 200ms ease, border-top 200ms ease, box-shadow 200ms ease;
      }

      .input-wrapper.focused{
        background-color: var(--ev-input-container-focused-color, var(--ev-icon-fill));
        border-left: 1px solid var(--ev-input-border-outline-color-focused, rgba(0, 0, 0, 10%));
        border-right: 1px solid var(--ev-input-border-outline-color-focused, rgba(0, 0, 0, 10%));
        border-top: 1px solid var( --ev-input-border-outline-color-focused, rgba(0, 0, 0, 10%));
        box-shadow: 0px 0px 1px var(--ev-input-border-shadow-focused, rgba(0, 0, 0, 7.5%));
        -moz-box-shadow: 0px 0px 1px var(--ev-input-border-shadow-focused, rgba(0, 0, 0, 7.5%));
        -webkit-box-shadow: 0px 0px 1px var(--ev-input-border-shadow-focused, rgba(0, 0, 0, 7.5%));
      }

      ::placeholder {
        color: var(--ev-input-placeholder-color, rgba(0, 0, 0, 0.25));
      }

      input::-webkit-input-placeholder {
        color: var(--ev-input-placeholder-color, rgba(0, 0, 0, 0.25));
      }

      input:-moz-placeholder {
        color: var(--ev-input-placeholder-color, rgba(0, 0, 0, 0.25));
      }

      input::-moz-placeholder {
        color: var(--ev-input-placeholder-color, rgba(0, 0, 0, 0.25));
      }

      .input-content {
        flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        position: relative;
        width: inherit;
        height: inherit;
        transition: border 200ms ease;
        -webkit-transition: border 200ms ease;
        margin-left: 7px;
        margin-right: 10px;
      }


      .input-content label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 18px;
        -webkit-transition: top 200ms ease, line-height 200ms ease, height 200ms ease, width 200ms ease, -webkit-transform 200ms ease, font-size 200ms ease, color 200ms ease;
        transition: top 200ms ease, line-height 200ms ease, height 200ms ease, width 200ms ease, transform 200ms ease, font-size 200ms ease, color 200ms ease;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        min-height: 1px;
        color: var(--ev-input-label-no-floating-color, rgba(0, 0, 0, 0.6));
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: var(--ev-input-container-height, 40px);
      }

      .input-content.label-is-floating label {
        -webkit-transform: translate(0px, -32px);
        transform: translate(0px, -32px);
        margin-left: 7px;
        top: 11px;
        font-size: 13px;
        width: auto;
        height: auto;
        line-height: normal;
        color: var(--ev-input-label-floating-color, var(--ev-cornflower-500));
      }

      :host(:dir(rtl)) .input-content.label-is-floating label {
        right: 0;
        left: auto;
        -webkit-transform-origin: right top;
        transform-origin: right top;
      }

      input:invalid {
       box-shadow: none;
      }

      .input-content.is-invalid label {
        color: var(--ev-input-invalid-label-color, var(--ev-tomato-500));
      }

      .input-content.label-is-hidden label {
        visibility: hidden;
      }

      .help-label-is-visible {
        opacity: 1;
      }

      .underline {
        height: 2px;
        position: relative;
        transition: background-color 200ms ease;
      }

      .focused-line {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border-bottom: 2px solid var(--ev-input-focused-line-color, var(--ev-cornflower-500));
        -webkit-transform-origin: center center;
        transform-origin: center center;
        transform: scale3d(0, 1, 1);
        -webkit-transform: scale3d(0, 1, 1);
        display: block;
      }


      .underline.is-highlighted .focused-line {
        -webkit-transform: none;
        transform: none;
        -webkit-transition: -webkit-transform 200ms;
        transition: transform 200ms;
      }

      .underline.is-invalid .focused-line {
        border-color: var(--ev-input-invalid-underline-color, var(--ev-tomato-500));
        transform: none;
        -webkit-transform: none;
        -webkit-transition: -webkit-transform 200ms ease;
        transition: transform 200ms ease;
      }

      .unfocused-line {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border-bottom: 1px solid var(--ev-input-unfocused-line-color, #cccccc);
        height: 1px;
      }

      .unfocused-line.is-highlighted {
        border-bottom: 1px solid var(--ev-input-unfocused-highlighted-color, var(--ev-cornflower-300));
      }

      .error-message.is-invalid {
        position: relative;
        bottom: -5px;
        font-size: 13px;
        opacity: 1;
        color: var(--ev-input-error-message-color, var(--ev-tomato-500));
        padding-left: 8px;
      }

      .svg-background {
        background: url(icoInvalidExclaim.svg);
        width: 24px;
        height: 24px;
        margin-right: 10px;
        flex-shrink: 0;
      }

      @keyframes shake {
        from,
        to {
          transform: translate3d(0, 0, 0);
          -webkit-transform: translate3d(0, 0, 0);
        }

        10%,
        30%,
        50%,
        70%,
        90% {
          transform: translate3d(-10px, 0, 0);
          -webkit-transform: translate3d(-10px, 0, 0);
        }

        20%,
        40%,
        60%,
        80% {
          transform: translate3d(10px, 0, 0);
          -webkit-transform: translate3d(10px, 0, 0);
        }
      }

      @-webkit-keyframes shake {
        from,
        to {
          -webkit-transform: translate3d(0, 0, 0);
        }

        10%,
        30%,
        50%,
        70%,
        90% {
          -webkit-transform: translate3d(-10px, 0, 0);
        }

        20%,
        40%,
        60%,
        80% {
          -webkit-transform: translate3d(10px, 0, 0);
        }
      }

      :host(.shake) {
        animation-name: shake;
        -webkit-animation-name: shake;
      }

      :host(.animated) {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
    </style>


    <div id="container" class="input-wrapper">
      <span class="prefix">
        <slot name="prefix" slot="prefix"></slot>
      </span>
      <div id="labelAndInputContainer" class$="[[_computeInputContentClass(focused, _inputHasContent, invalid, alwaysFloat)]]">

        <label id="floating_label" class="floating-label-placeholder" for="ev_input_field">[[label]]</label>
        <iron-input bind-value="{{value}}" slot="input" class="input-element" id="iron_input" maxlength$="[[maxlength]]" allowed-pattern="[[allowedPattern]]"
          invalid="{{invalid}}" validator="[[validator]]">
          <input id="ev_input_field" aria-labelledby$="[[_ariaLabelledBy]]" aria-describedby$="[[_ariaDescribedBy]]" title$="[[title]]"
            type$="[[type]]" pattern$="[[pattern]]" required$="[[required]]" autocomplete$="[[autocomplete]]" autofocus$="[[autofocus]]"
            inputmode$="[[inputmode]]" minlength$="[[minlength]]" maxlength$="[[maxlength]]" min$="[[min]]" max$="[[max]]"
            step$="[[step]]" name$="[[name]]" placeholder$="[[placeholder]]" readonly$="[[readonly]]" list$="[[list]]" size$="[[size]]"
            autocapitalize$="[[autocapitalize]]" autocorrect$="[[autocorrect]]" tabindex$="[[tabIndex]]"
            autosave$="[[autosave]]" results$="[[results]]" accept$="[[accept]]" multiple$="[[multiple]]" disabled$="[[disabled]]">
        </iron-input>
      </div>

      <template is="dom-if" if="[[showErrorMessage]]">
        <div class="svg-background"></div>
      </template>

      <span class="suffix">
        <slot name="suffix" slot="suffix"></slot>
      </span>
    </div>

    <div class$="[[_computeUnderlineClass(focused,invalid)]]">
      <div class="unfocused-line"></div>
      <div class="focused-line"></div>
    </div>


    <label id="help_label" class$="[[_computeHelpLabelClass(focused, helperText)]]">[[helperText]]</label>
    <template is="dom-if" if="[[showErrorMessage]]">
      <label class="error-message is-invalid">[[errorMessage]]</label>
    </template>

  </template>

  <script>
/*
`ev-input-field`
EValue Text/Number Input Field

This component behaves identically to that of a native HTML <input> element but has the useful additions of
animations, floating labels and error/help messages. Visit the demo section to interact with real
examples.

Particalary useful for displaying monetary field, there is the ablity to include custom prefix or suffix elements.
These are displayed before or after the text input itself. In order for an element to be
considered as a prefix, it must have the `prefix` attribute (and similarly for `suffix`).

    <ev-input-field label="total">
      <div prefix>$</div>
    </ev-input-field>

Below are some use CSS Variables which you can override to further customise the styling of
the input fields.

Custom property                           | Description                                             | Default
------------------------------------------|---------------------------------------------------------|---------------------------
`--ev-input-hover-underline-color`        | The color of underline when hovered                     | `rgba(94, 139, 245, 0.5)`
`--ev-input-caret-color`                  | The color of the caret when focused on input            |  `--ev-cornflower-500`
`--ev-input-text-color`                   | Color of input text                                     | `#333333`
`--ev-input-help-text-color`              | Color of the help text                                  | `--ev-cornflower-500`
`--ev-input-placeholder-color`            | Color of the placeholder message when input is in focus | `rgba(0, 0, 0, 0.25)`
`--ev-input-label-no-floating-color`      | Color of the label when it is not floating              | `--ev-cornflower-500`
`--ev-input-label-floating-color`         | Color of the label when floating                        | `--ev-cornflower-500`
`--ev-input-invalid-label-color`          | Color of the label when the input is invalid            | `--ev-tomato-500`
`--ev-input-focused-line-color`           | Color of the focused line                               | `--ev-cornflower-500`
`--ev-input-invalid-underline-color`      | Color of the underline when input is invalid            | `--ev-tomato-500`
`--ev-input-unfocused-line-color`         | Color of the underline when not focused                 | `#cccccc`
`--ev-input-unfocused-highlighted-color`  | Color of the underline when focused                     | `--ev-cornflower-300`
`--ev-input-error-message-color`          | Color of the error message when input is invalid        | `--ev-tomato-500`
`--ev-input-disable-color`                | Color of the input when disabled                        | `black`
`--ev-input-container-focused-color`      | Color of the input container when focused               | `--ev-icon-fill`
`--ev-input-prefix-suffix-color`          | Color of the prefix and suffix icons                    | `None`
`--ev-input-border-outline-color`         | Color of input border                                   | `rgba(0, 0, 0, 0%)`
`--ev-input-border-outline-color-focused` | Color of input border when focused                      | `rgba(0, 0, 0, 10%)`
`--ev-input-border-shadow `               | Color of input shadow                                   | `rgba(0, 0, 0, 0%)`
`--ev-input-border-shadow-focused`        | Color of input shadow when focused                      | `rgba(0, 0, 0, 7.5%)`
`--ev-input-container-height`             | Height of the input container                           | `40px`


@customElement
@polymer
@demo demo/index.html
*/
    class EvInputField extends Polymer.Element {
      static get is() { return 'ev-input-field'; }

      ready() {
        super.ready();
        this.addEventListener('focus', this._handleFocus);
        this.addEventListener('blur', this._handleBlur);
        this._evInputField.addEventListener('change', this._onChange);
      }

      connectedCallback() {
        super.connectedCallback();
        if(this.attrForValue) {
        this._ironInputElement.addEventListener(
            this._valueChangedEvent, this._boundValueChanged);
        }
        else {
          this.addEventListener('input', this._handleInput);
        }
      }

      static get properties() {
        return {

          /** value inside the input */
          value: { type: String, notify: true },

          /** Flag when input has changed */
          _hasValueChanged: { type: Boolean, value: false },

          /** Name of the label */
          label: { type: String },

          /** Placeholder with input field */
          placeholder: { type: String },

          /** Set to true to disable input field */
          disabled: { type: Boolean, value: false },

          /** Set input field type  */
          type: { type: String },

          /**
          * Set to true to always float the floating label.
          */
          alwaysFloat: { type: Boolean, value: false },

          /** Set input field name */
          name: { type: String },

          /** Small description of the input below the input field*/
          helperText: { type: String, notify: true },

          /** Error message display when input is invalid */
          errorMessage: { type: String },

          /** Regular expression used for validation */
          pattern: { type: String },

          /** Set to true if to require the input to be filled before
          *  being submitted in a form
          */
          required: { type: Boolean, value: false },

          /** Flag to show/hide the error message if the error message is set to true */
          showErrorMessage: { type: Boolean, value: false },

          /** Validate input for every character entered */
          autoValidate: { type: Boolean, value: false },

          /** Set to true if the there is input is not empty */
          _inputHasContent: { type: Boolean, value: false },

          /** Focus onto the input field */
          focused: { type: Boolean, value: false, notify: true },

          /**
            * True if the input is invalid. This property is set automatically when the
            * input value changes if autoValidate is set to true
            */
          invalid: { type: Boolean, value: false, notify: true },

          /** The minimum length of the input value.*/
          minlength: { type: Number },

          /** The maximum length of the input value */
          maxlength: { type: Number },

          /** Set to true to determin where input can be edited */
          readonly: { type: Boolean, value: false },

          /** Defines the width of the element */
          size: { type: Number },

          /** Controls whether input can automatically be capitalized */
          autocapitalize: { type: String, value: 'none' },

          /** Set to 'on' to enable auto correcting whilst user is typing inside input */
          autocorrect: { type: String, value: 'off' },

          /** Specifies an autosave name for a search field, so prior searches can be saved */
          autosave: { type: String },

          /** Specify the number of entries that can be displayed in the native input dropdown */
          results: { type: Number },

          /** The file that can be submitted through a file upload */
          accept: { type: String },

          /** Set to true if you want users enter more than one value in the input */
          multiple: { type: Boolean },

          /** Limits the numeric or date-time increments. */
          step: { type: String },

          /** The minimum (numeric or date-time) input value. */
          min: { type: String },

          /** The maximum (numeric or date-time) input value. Can be a String (e.g. `"2000-01-01"`) or a Number (e.g. `2`). */
          max: { type: String },

          attrForValue: {type: String, value: 'bind-value'},

          _boundValueChanged: {
            type: Function,
            value: function() {
              return this._onValueChanged.bind(this);
            }
          },
          /** Used a default format for number values */
          locale: { type: Boolean, value: false }
        };

      }

      /**
      * Returns the v
      * @return {String}
      */
      get _valueChangedEvent() {
        return this.attrForValue + '-changed';
      }

      /**
      * Returns the value from the iron input
      * @return {String}
      */
      get _inputElementValue() {
      return this._ironInputElement[this._propertyForValue] ||
          this._ironInputElement.value;
      }

      /**
      * Returns a reference to the native input element.
      * @return {!HTMLElement}
      */
      get _evInputField() {
        return this.$.ev_input_field;
      }

      /**
      * Returns a reference to the floating label element.
      * @return {!HTMLElement}
      */
      get floatingLabel() {
        return this.$.floating_label;
      }

      /**
      * Returns a reference to the help text label element.
      * @return {!HTMLElement}
      */
      get _helpTextLabel() {
        return this.$.help_label;
      }

      /**
      * Returns a reference to the container element.
      * @return {!HTMLElement}
      */
      get _container() {
        return this.$.container;
      }

      /**
      * Returns a reference to the iron-input element.
      * @return {!HTMLElement}
      */
      get _ironInputElement() {
        return this.$.iron_input;
      }

      /**
      * Returns a reference to the unfocused line element.
      * @return {!HTMLElement}
      */
      get _unfocusedLine() {
        return this.shadowRoot.querySelector('.unfocused-line');
      }

      get underline() {
        return this.shadowRoot.querySelector('.underline');
      }

      /** @private */
      _computeInputContentClass(focused, _inputHasContent, invalid, alwaysFloat) {
        let cls = 'input-content';
        if (_inputHasContent || focused || alwaysFloat) {
          cls += ' label-is-floating';
          this.$.labelAndInputContainer.style.position = 'static';
          this._container.classList.add('focused');
          this._evInputField.classList.add('input-is-focused');
        }
        else {
          this.$.labelAndInputContainer.style.position = 'relative';
          this._container.classList.remove('focused');
          this._evInputField.classList.remove('input-is-focused');
        }
        if (invalid) {
          cls += ' is-invalid';
        }
        return cls;
      }

      /** @private */
      _computeHelpLabelClass(focused, helperText) {
        let cls = 'input-help-text';
        if (focused && helperText) {
          cls += ' help-label-is-visible';
        }
        return cls;
      }

      /** @private */
      _computeUnderlineClass(focused, invalid) {
        let cls = 'underline';
        if (invalid) {
          cls += ' is-invalid';
        }
        else if (focused) {
          cls += ' is-highlighted';
        }
        return cls;
      }

      /** @private */
      _handleFocus() {
        this.focused = true;
        this._evInputField.select();
      }

      /** @private */
      _handleBlur(event) {
        this.focused = false;
        this._inspectInputHasContent();
        if (this.locale) {
          this._formatValue();
        }
        if (this._inputHasContent) {
          this._container.classList.remove('focused');
        }
        if (this.autoValidate === false) {
          this.validate();
        }
      }

      _onValueChanged(event) {
        if (this.autoValidate) {
          this.validate();
        } else {
          this._inspectInputHasContent();
        }
      }

      /** @private */
      _formatValue() {
        let parsedValue = this._computeParsedValue();
        if (!isNaN(parsedValue)) {
          this._evInputField.value = parsedValue.toLocaleString();
        }
        else {
          this._evInputField.value = '0.00';
        }
      }

      /** @private */
      _computeParsedValue() {
        return parseFloat(this._evInputField.value.replace(/,/g, ''));
      }

      /**
      * Validates the input field against a regular expression
      * If invalid, the input field will be notified to change
      * to a invalid styling and trigger a shake animation.
      */
      validate() {
        let valid;
        this._inspectInputHasContent();
        if (this._inputElementValue || this._inputElementValue === '') {
          if (this._ironInputElement.validate) {
            valid = this._ironInputElement.validate(this._inputElementValue);
          } else {
            valid = this._ironInputElement.checkValidity();
          }
          this.invalid = !valid;
        }
        if (this.invalid) {
          this.showErrorMessage = true;
          this.classList.add('shake');
          this.classList.add('animated');
        }
        else {
          this.showErrorMessage = false;
          this.classList.remove('shake');
          this.classList.remove('animated');
        }
        let displayHelpText = this._toggleHelpTextDisplay(this.showErrorMessage);
        this._helpTextLabel.style.display = displayHelpText;

      }

      _toggleHelpTextDisplay(showErrorMessage) {
        return this.showErrorMessage === false ? '' : 'none';
      }

      /** @private */
      _handleInput() {
        this._inspectInputHasContent();
        if (this.autoValidate) {
          this.validate();
        }
      }

      /** @private */
      _inspectInputHasContent() {
        if (String(this._inputElementValue).length > 0) {
          this._inputHasContent = true;
        }
        else {
          this._inputHasContent = false;
        }
      }

      /** @private */
      _onChange(event) {
        this.dispatchEvent(new CustomEvent('new-input', {composed: true}));
      }

    }
    window.customElements.define(EvInputField.is, EvInputField);
  </script>
</dom-module>
